@CHARSET "UTF-8";

body {
	background: url(../images/background1.png) fixed;
	
	
}

.greybackground {
	background: #000;
	filter: Alpha(opacity = 30);
	-moz-opacity: .3;
	opacity: 0.5;
	display: block;
	z-index: -1;
	width: 100%;
	height:100%;
	overflow:auto;
	position: absolute;
	top: 0;
	left: 0;
	overflow:auto;
}

.center {
	background: #fff;
	margin: 100px auto;
	width: 80%;
	text-align: center;
	padding-top:70px;
}

.textCss{
	width: 200px;
}
.selectCss {
	width: 200px;
	overflow:scroll;
	
}	
