@CHARSET "UTF-8";

.center {
	margin: 100px auto;
	width: 900px;
}

.register {
	width: 525px;
}

.button1 {
	float: left;
	margin-left: 20px;
}

.register{
	float: left;
}

.register a {
	font-weight: bold; 
	margin-top : 10px;
	font-size: 18px;
	float: left;
	margin-top: 10px;
}

.regist_bg {
	margin-top: 30px;
}

.login {
	border:1px solid #DDDDDD;
	height:300px;
	float: left;
	display:block; 
	text-align: center;
}

.text{
	width: 180px;
	height:22px;
	line-height:22px;
	border:1px solid #DDDDDD;
}

.validate{
	margin-top: 40px;
}

.validate input{
	margin:15px auto;
}

.button2{
	/*为居中*/
	width:140px;
}